/* General */
.import-log-container {
  margin-top: 25px;
  height: 500px;
  width: 1100px;
  padding: 12px;
  background-color: black;
  color: white;
  font-family: courier;
  overflow-y: scroll;
  font-size: .85em;
  word-wrap: break-word;
  border: 3px solid gray;
}

.import-error {
  color: red;
}


.un-bold {
  font-weight: normal;
}

/* Form */

textarea {
  height: 100px;
}

input[type="file"] {
  line-height: 0;
  height: inherit;
}
.remove_sop_file {
  padding: 0;
}
.field-group{
  clear: both;
}
.field-group label{
  float: left;
  width: 120px;
}
.form-horizontal .control-label {
  text-align: left;
  width: 260px;
  padding-right: 100px;
}
#assay_type {
  margin-top: 10px;
}
#assay_type_1,
#assay_type_2,
#assay_type_3,
#assay_type_4 {
  display: none;
}
.file_container
{
  display: hidden;
}
#sop_files_container {
  margin: 10px 0 20px 0;
  padding: 20px;
  border: 1px dotted #ccc;
  width: 75%;
}
#add_sop_file_button {
  margin: 10px 0 0 0;
}
.single_publication_template {
  margin: 10px 0 20px 0;
  padding: 20px;
  border: 1px dotted #ccc;
  width: 75%;
}
.uploading,
.progress {
  display: none;
}
/*.progress {
  width: 30%;
}*/
.single-file-wrapper {
  margin: 10px 0;
}

.publication_single_container {
  width: 75%;
  margin: 20px 0;
}

.form-horizontal .single_publication_template .control-label {
  text-align: left;
  width: 135px;
  padding-right: 0;
}

input.publication-url {
  width: 95%;
}

#submit_button_container {
  margin-top: 40px;
}

.file-controls-wrapper {
  margin: 10px 0;
  padding: 10px 10px 10px 10px;
  width: auto;
  background-color: #F5F5F5;
  clear: both;
}

.single-file-wrapper {
  margin: 0;
  padding: 0;
}

#fileupload {
  float: left;
  margin-bottom: 20px;
}

#uploading_notification_container {
  float: left;
  height: 70px;
}

.margin-top-40 {
  margin-top: 40px;
}

#preloader_modal .modal-body,
#import_executing_modal .modal-body {
  padding: 30px;
}

#preloader_modal .modal-body h4,
#import_executing_modal .modal-body h4,
#import_executing_modal .modal-body p {
  text-align: center;
  color: #555;
}

#preloader_modal .modal-body img,
#import_executing_modal .modal-body img {
  display: block;
  margin: 0 auto 10px auto;
}

#preloaderModalLabel {
  text-align: center;
}

.red {
  color: red;
}

.manage_column a {
  text-align: left;
}

/* WYSIWYG */

.editor {
  overflow: auto;
  width: 95%;
  height: 100px;
  background-color: #FFF;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

.no-results-td {
  height: 60px;
}

.no-results-td p {
  margin-top: 20px;
}

/* jQuery TagIt */

ul.tagit li {
  display: list-item !important;
  float: none !important;
}

ul.tagit li.tagit-choice .tagit-close {
  position: relative !important;
  margin-left: 0 !important;
  padding-right: 4px !important;
  float: left !important;
  margin-top: 2px !important;
  top: inherit !important;
  right: inherit !important;
}

ul.tagit input[type="text"] {
  width: 206px !important;
  padding: 4px 6px !important;
}
div.btn-container {
  width: 296px;
  text-align: center;
}

.dt-button{
    background-color: white !important;
    color: #294d64;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border: 2;
    padding: 2;
    margin: 2;
    width:100%;
    z-index:2;
}



.dt-button:hover {
    background-color: white !important;
    color: #294d64;
}



.dt-button-collection{

  width:25% !important;
}




div.dt-buttons {position: relative;float: left;font: 0.9em Arial; padding-bottom: 0.25em;}
div.dt-buttons .dt-button {margin: 0.25em 0.333em 0.25em 0;}
div.dt-button-collection {font: 0.9em Arial;position:relative; margin:5px !important; padding: 4px;border: 1px solid #ccc;background-color: #fff;overflow:hidden; z-index: 2002;}
div.dt-button-collection .dt-button {text-align: center;position: relative;display: block;margin-right: 0;}
div.dt-button-background {zoom: 1;position: fixed;top: 0; left: 0;width: 100%;height: 100%;background: #000;filter: alpha(opacity=35);opacity: .35;z-index: 2001;}
a.dt-button.buttons-select-cells, a.dt-button.buttons-select-rows, a.dt-button.buttons-select-columns {position: relative; width: 175px;text-align: left;}
a.dt-button.buttons-columnVisibility.ui-button-text-only {padding-left: 10px;color:red !important}
a.dt-button.buttons-columnVisibility.ui-state-active, a.dt-button.buttons-columnVisibility {position: relative; width: auto;*width: 230px;text-align: left;color:red !important;
*zoom: expression(this.runtimeStyle.zoom="1",this.insertBefore(document.createElement("div"),this.childNodes[0]).className="before",this.appendChild(document.createElement("div")).className="after");}
a.dt-button.buttons-columnVisibility:before, a.dt-button.buttons-columnVisibility.ui-state-active:after {display: block;position: absolute;top: 1em;margin-top: -8px;margin-left: -6px;width: 16px;height: 16px;box-sizing: border-box;color:red !important}
a.dt-button.buttons-columnVisibility:before {content: ' ';border: 2px solid black;border-radius:3px;}
a.dt-button.buttons-columnVisibility.ui-state-active:after {font: 0.9em Arial;content: '\2714';text-align: center;color:red !important}


.dt-button.buttons-columnVisibility.active {
  background-color: #D3D3D3 !important;
}

.dataTables_filter label {
    margin-bottom:15px;
    margin-left: 10px;
    margin-right:15px;

}
.dataTables_filter input {
    height: 25px;
    width: 300px;
    margin-top: 0px;
    float:right;
}


.dataTables_length{
    padding-left:0px !important;
    margin-left:0px !important;
    float: left !important;
}

.row_search label{
   vertical-align: bottom;
   margin:0px;

}

.dataTables_filter{
  padding-top:10px;
}
