<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>28870</integer>
	<key>LibraryBuildTag</key>
	<string>FAF8A02A-98B7-4928-B512-CE77C99F325D</string>
	<key>LibrarySchemaVersion</key>
	<integer>477</integer>
</dict>
</plist>
