h1 {
  color: #262727;
  font: 1.8em "ITC Avant Garde", "avant garde", "Century Gothic", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 1.1em;
  display: block;
}

.h4-assay-portal {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.detail-page-header {
  width: 50%;
  float: left;
}

.assay-nav {
  text-align: right;
  margin-top: 12px;
}

.assay-nav-btn {
  width: 98px;
  text-align: center !important;
}


.navbar-fixed-top .navbar-inner .container-fluid {
  margin: 0 auto;
  width: 984px;
}

.container-fluid.container-outer {
  margin: 0 auto;
  width: 984px;
}

.row-outer-details .row-fluid .overview-details {
  min-height: 373px;
}

.row-outer-details .row-fluid .overview-details {
  font-size: 1.1em;
}

.row-fluid #sidebar_nav.span2 {
  width: 17%;
}

#browse_table_wrapper.span10 {
  width: 80.5%;
}

.kegg_table {
  float: right;
  display: block;
  width:735px;

  padding-left: 20px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
}


.dataTables_processing {
  background-image: url("/site/library/images/indicator-big.gif");
  background-repeat: no-repeat;
  height: 32px;
  padding-left: 40px;
  padding-top: 6px;
  position: absolute;
  top: 390px;
  left: 552px;
}

/*.background-color-white {
  background-color: #FFFFFF !important;
}

tr.background-color-white:hover {
  background-color: #f5f5f5;
}
*/

.horizontal-list {
  margin-left: 8px;
}

pre {
  font-family: monospace;
  font-size: small;
  white-space: pre;
  clear: both;
}

pre.sequence {
  background-color: #FFFFFF;
  border: none;
  text-align: left;
}

table.sequence {
  font-family: monospace;
	font-size: 10px;
  background-color: white;
}

table.sequence td span.peptide_highlight,
.red {
	color: red;
}

table.sequence td span.peptide_highlight:hover {
	cursor: pointer;
}

table.sequence td.sequence_char_count {
	text-align: right;
	font-size: 8pt;
}

table.sequence td {
	height: 10px;
	padding: 0 6px;
  background-color: #fff;
}

.clear_bottom_margin {
  clear: both;
  margin: 0 0 20px 0;
}

.sequence_table_shadow {
  border: 1px solid #ddd;
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.10);
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
  -o-box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
  -ms-box-shadow: 10px 10px 10px rgba(0,0,0,0.10);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.30);
}

.span2 div.sidebar-nav {
	margin-top: 12px;
}

.nav-header {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: #555;
  text-shadow: none;
  text-transform: none;
}

.nav-list .muted {
  font-size: 12px;
  line-height: 14px;
}

.nav>li.muted>a {
  display: inline;
}

.nav>li.muted>a:hover,
.nav>li.muted>a:focus {
  background-color: transparent;
}

pre strong {
  color: black;
  font-weight: normal;
}

hr.black {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ccc;
}

.sidebar-nav hr {
  border: 0;
  border-top: 1px dotted #777;
}

.row-outer-details h4.first-header {
  margin-top: 15px;
}

.table {
  margin-top: 20px;
}

.centered,
.text-centered th,
.text-centered td {
  text-align: center;
}

.details {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.row-outer .details h3 {
  font-weight: bold;
}

.details h4,
.details h5 {
  margin-top: 40px;
}

.row-outer-details h4,
.row-outer-details h5 {
  color: #333333;
}

.row-outer-details h4,
.row-outer-details h5,
.row-outer-details p,
.row-outer-details a {
  text-align: left;
}

.row-outer-details dt {
  font-size: 14px;
  color: #333333;
  margin-bottom: 4px;
}

.row-outer-details dd {
  margin-bottom: 16px;
}

.row-fluid .span9.sub {
  border: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.links-container h5 {
  margin-top: 0;
}

.plasma-charts {
  text-align: center;
}

.resources-and-comments {
  margin-top: 20px;
}

.comments {
  clear: both;
}

.empty-spacer {
  height: 30px;
}

#tooltip {
  font-size: .85em;
}

body .tooltip {
  text-shadow: none;
  text-transform: none;
  font-size: .9em;
  font-weight: normal;
}

h3 div.tooltip {
  text-shadow: none;
  text-transform: none;
  font-size: .6em;
  font-weight: normal;
}

.icon-exclamation-sign,
#response_curves_info_icon,
#repeatability_info_icon {
  cursor: pointer;
}

#response_curves_info_icon,
#repeatability_info_icon {
  font-size: .9em;
}

.modal-image {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.modal-image p {
  margin-top: 6px;
  font-size: .9em;
}

#modal2 form {
  margin: 0;
}

#modal2 label {
  font-weight: bold;
}

#modal2 textarea {
  width: 97%;
  height: 80px;
}

.amino-acid {
  margin-left: 13px;
}

.local-icon-helix {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/icon-helix.png");
  background-repeat: no-repeat;
}

.assay-details-wrapper,
.preloader_loading,
#preloader_loading_assay_details {
  display: none;
}

.preloader_loading,
.loc_lloq_preloader_loading {
  width: 100px;
  height: 100px;
  margin: 20px auto 0 auto;
  text-align: center;
}

#preloader_loading_assay_details {
  width: 100px;
  height: 100px;
  margin: 40px auto 1000px auto;
  text-align: center;
}

.preloader_loading p,
#preloader_loading_assay_details p {
  text-align: center;
}

.collapse-button,
#collapse-button-assay-details,
#collapse-button-assay-parameters {
  font-size: 14px;
  margin-left: 10px;
}

#collapse-button-assay-parameters {
  margin-bottom: 16px;
}

.overview-details .table th,
.overview-details .table td {
  width: 50%;
}

table.assay-details th,
table.assay-details td {
  width: 20%;
}

.un-bold {
  font-weight: normal;
}

/* Bordered Containers */

.row-outer-details .row-fluid .span3,
.row-outer-details .row-fluid .span4,
.row-outer-details .row-fluid .span5,
.row-outer-details .row-fluid .span6,
.row-outer-details .row-fluid .span7,
.row-outer-details .row-fluid .span8,
.row-outer-details .row-fluid .span9,
.row-outer-details .row-fluid .span12 {
  padding: 14px 14px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.10);
  -o-box-shadow: 1px 1px 1px rgba(0,0,0,0.10);
  -ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.10);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.10);
}

.row-outer-details .row-fluid.header-split .span12 {
  margin: 0 0 0 0;
  padding: 0;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.row-outer-details .row-fluid.header-split {
  margin-top: 14px;
}

.row-outer-details .row-fluid .span6.image {
  min-height: 10px;
}

.row-outer-details .row-fluid .span12 {
  margin: 20px 0;
}

.row-outer-details .row-fluid .details {
  margin: 0;
}

.row-outer-details .row-fluid .span12.image {
  margin: 0;
}

/*.row-outer-details .row-fluid .span6.sequence {
  min-width: 530px;
}*/

/*.row-outer-details .row-fluid div[class*='image'] {
  min-height: 334px;
}*/

.row-outer-details .row-fluid div[class*='image'] p,
.loc_lloq_preloader_loading p {
  text-align: center;
}

.row-outer-details .row-fluid .span3.empty {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

#assay_details .span12 {
  margin-top: 0;
}

#assay_details .span6 {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

#sops .sop-downloads li {
  margin-bottom: 12px;
}

/* Protein Sequence Container */

.protein-sequence,
.splice-junction-sequence {
  height: 340px;
	overflow: hidden;
  position: relative;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 100;
}

.sequence a {
  color: red;
}


/* Ratings */

/*.rating,#code .rating{unicode-bidi:bidi-override;direction:rtl;font-size:30px}
.rating span.star,#code .rating span.star{font-family:FontAwesome;font-weight:normal;font-style:normal;display:inline-block}
.rating span.star:hover,#code .rating span.star:hover{cursor:pointer}
.rating span.star:before,#code .rating span.star:before{content:"\f006";padding-right:5px;color:#999}

.rating span.star:hover:before,
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before,
#code .rating span.star:hover ~ span.star:before{content:"\f005";color:#e3cf7a}*/

.rating {
    float:left;
    margin-bottom: 20px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* Bar Chart */

/*#assay_details_graph div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 0;
  color: white;
  clear: none;
  cursor: pointer;
}*/

#assay_details_graph rect:hover {
  fill: #ccc;
}

#isoforms_graph,
#mrm_details_graph {
  height: 150px;
  padding: 20px 0;
}

#snps_graph {
  height: 220px;
  padding: 20px 0;
}

#all_in_one_graph {
  width: 795px;
  height: 300px;
  margin: 0 auto 0 auto;
  padding: 20px 0;
}

#all_in_one_graph .button {
  position: absolute;
  cursor: pointer;
}

#all_in_one_graph div.button {
  font-size: smaller;
  color: #999;
  background-color: #EEE;
  padding: 2px 6px;
}

#amino_acid_graph {
  height: 60px;
  padding: 20px 0;
}

.main text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  shape-rendering: crispEdges;
  stroke: black;
  fill: none;
}

.caption-link {
  margin: 10px 0 0 0;
}

.graph-instructions {
  font-weight:normal;
  font-size:75%;
  margin-left: 10px;
}

.mrm-block-symbol {
  width: 14px;
  height: 6px;
  background-color: #0066cc;
  display: inline-block;
}

.mrm-points,
.all-other-points {
  margin: 14px 0;
}

.chart-legend {
  position:absolute;
  top:10px;
  width:4px;
  height:0;
  overflow:hidden;
  cursor:pointer;
}

.chart-legend-text {
  position:absolute;
  top:5px;
  color:#777;
  font-size:smaller;
  cursor:pointer;
}

.sequence-domains-chart-legend {
  left:20px;
  border:5px solid green;
}

.sequence-domains-chart-legend-text {
  left:40px;
}

.isoforms-chart-legend {
  left:162px;
  border:5px solid #EDC240;
}

.isoforms-chart-legend-text {
  left:182px;
}

.snps-chart-legend {
  left:240px;
  border:5px solid #EC0000;
}

.snps-chart-legend-text {
  left:260px;
}

.mrm-assays-chart-legend {
  left:300px;
  border:5px solid #0066cc;
  cursor:default;
}

.mrm-assays-chart-legend-text {
  left:320px;
  cursor:default;
}

.group-item td:first-child {
  padding-left: 20px;
}

.row-fluid .repeatability-data-table {
  min-height: 460px;
}

/*@media (max-width: 1170px) {
  .row-fluid .span6.sequence {
    margin-left: 0;
  }
}
*/
/* Hansontables */

.handsontable .currentRow {
  background-color: #E7E8EF;
}

.handsontable .currentCol {
  background-color: #F9F9FB;
}

#proteins_container,
#species_container,
#peptide_container,
#laboratories_container,
#peptide_stds_container,
#protein_stds_container,
#assay_parameters_container,
#instruments_container,
#analytical_validation_of_assay_container {
  display: none;
  margin-bottom: 50px;
}

#proteins_container {
  display: block;
}

.data-entry-form button {
  margin-top: 10px;
}

td a {
  white-space: nowrap;
}

#output {
  margin-top: 20px;
}


/* Sidebar Filters */

#sidebar_nav .icon-question-sign {
  cursor: pointer;
  color: black;
}

input[type="text"].select_chromosomal_location,
ul.tagit input[type="text"] {
  margin: 2px 0;
  padding: 2px;
  width: 86px;
}

ul.tagit li.tagit-choice-editable {
  padding: .2em 16px .2em .5em;
  border: 1px dotted #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  clear: both;
}

ul.tagit li.tagit-choice .tagit-close {
  right: 0.3em;
}

ul.tagit li {
  margin-bottom: 6px;
}

button.multiselect {
  overflow: hidden;
}

.btn-group>.btn {
  font-size: 12px;
}

.filter-button-text {
  padding: 0 4px;
}

.btn-group,
ul.tagit,
#chromosomal_location_start,
#chromosomal_location_stop {
  margin-left: 10px;
}

#sidebar_nav h4 {
  font-size: 1.2em;
}

.sop-downloads li {
  margin-bottom: 10px;
}


/* Show/Hide Columns Menu */

.ColVis_Button {
  height: auto;
}

div.ColVis_collection button.ColVis_Button {
  width: 100% !important;
}

div.ColVis_collection {
  width: 162px !important;
}

/* Splice Junctions (Ensemble Sequence) */

.splice-junction-sequence pre {
  text-align: left;
  background-color: #fff;
  border: none;
  font-size: 9pt;
  letter-spacing: 1px;
}

.splice-junctions-legend {
  margin-left: 10px;
}

.splice-junctions-legend div {
  display: inline-block;
  padding: 0 4px;
  border: 1px dotted #333;
  font-size: .9em;
}

.splice-junction-blue {
  color: #1044ee;
}

.splice-junction-red {
  color: #dd0000;
}

/* Chosen (JS library) Overrides */

.chosen-container,
#chromosomal_location_stop {
  margin-bottom: 12px;
}

.chosen-container .chosen-drop {
  width: 350px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  padding: 2px 18px 2px 2px;
  font-size: .9em;
  width: 97px;
}

.chosen-container .chosen-results li.disabled-result.parent {
  font-weight: bold;
  color: #000;
}

/* jQuery Tour */

.popover-title {
  background-color: #0079A8;
  color: #FFF;
}

#tour_button_container button {
  width: 100%;
  margin: 6px auto 0 auto;
}

/* Download CSV Button on Browse Page */

.custom_csv_button_styles {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 20px !important;
  padding: 3px 5px !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  -ms-border-radius: none !important;
  -o-border-radius: none !important;
  border: 1px solid #D0D0D0 !important;
  border-radius: 0px !important;
  box-shadow: none !important;
  background: inherit !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
}

#browse_table_wrapper .DTTT_container a {
  display: block !important;
}

/* Flot Chart Tweaks */

/*.xAxis > .tickLabel
{
  margin-top:0;
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/

/*@media (max-width: 1170px) {

  #all_in_one_graph {
    margin-left: 40px
  }

}*/

.alert-preview {
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
}

span.crude-header {
  color: red;
}


.peptide_detail_link {
  color: #08c;
  text-decoration: underline;
  font-family: "courier";
}

 .peptide_detail_link:hover {
  cursor: pointer;
}


.detail-modal {
  margin-left: -4px;
  position: absolute;
  z-index: 10000;
  min-height: 15px;
  min-width: 50px;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
  font-size: .8em;
}

.detail-modal .close {
  margin-top: -17px;
  margin-right: -9px;
}

.dl-horizontal-assay {
	*zoom: 1
}

.dl-horizontal-assay:before, .dl-horizontal-assay:after {
	display: table;
	content: "";
	line-height: 0
}

.dl-horizontal-assay:after {
	clear: both
}

.dl-horizontal-assay dt {
	float: left;
	width: 195px;
	clear: left;
	text-align: right;
	white-space: nowrap
}

.dl-horizontal-assay dd {
	margin-left: 200px
}

#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#add_tab { cursor: pointer; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.dataTables_filter label{
   background-color: red !important;

}
