.widget-file-upload {
    width: 725px;
    border: #cccccc solid 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    padding: 30px; }

.widget-file-upload > header h1, .widget-file-upload > header h2, .widget-file-upload > header h3, .widget-file-upload > header h4, .widget-file-upload > header h5, .widget-file-upload > header h6 {
    font-weight: 400;
    text-align: center; }


.select-files {
    margin: 2.5em 0 0 0;
}