.page-header {
    margin-bottom: 10px;
}

#browse_table_wrapper {
    display: none;
}

#browse_table tbody tr td.group {
    font-weight: bold;
    background-color: #ddd;
}

#browse_table tbody tr td.group {
    font-weight: bold;
    background-color: #eee;
}

.dataTables_wrapper tbody tr td.no_row_click {
    cursor: pointer;
}

table.table thead .sorting_desc,
table.table thead .sorting_asc,
table.table thead .sorting {
    background: transparent;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: inherit;
}

div.dataTables_filter label {
    float: left;
    margin-left: 10px;
}

.yellow-background {
    background-color: #F3F3D6 !important;
    color: #333;
}

.gray-background {
    background-color: #D8D2D2 !important;
    color: #852C2C;
}

.green-background {
    background-color: #B2CEB2 !important;
    color: #005000;
}

.blue-background {
    background-color: #6699ce !important;
    color: #1b1d50;
}

.check-all-wrapper {
    display: table-cell;
    padding-right: 6px;
}

.checkbox-input-wrapper .approve_checkbox,
.checkbox-input-wrapper .disapprove_checkbox,
.checkbox-input-wrapper .submit_checkbox {
    display: none;
}

.checkbox-input-wrapper label {
    display: inline-block;
}

.additional_bulk_actions {
    margin: 6px 0;
}

.icon-plus,
.icon-thumbs-up {
    margin-right: 8px;
    color: #333;
}

.icon-thumbs-down {
    margin-right: 7px;
    color: #333;
}

.icon-list {
    margin-right: 6px;
    color: #333;
}

.note-link {
    font-weight: normal;
}

#comment,
#email_csv_comment {
    width: 97%;
    height: 100px;
}

.modal .modal-body .control-group label input {
    margin-bottom: 6px;
}

.modal .modal-body .control-group label {
    font-weight: bold;
}

#success-message {
    display: table-cell;
    float: left;
    margin-left: 30px;
    font-size: 1.1em;
    font-weight: bold;
    color: #005000;
    padding: 4px 12px;
    background-color: #ABDFAB;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ColVis {
    width: 100%;
}

.ColVis_Button {
    float: right;
}

#notes_container ul {
    list-style-type: none;
    border: solid 1px #ddd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 20px;
    margin: 5px 10px 20px 10px;
    font-size: .9em;
}

.note-label {
    clear: both;
    margin: 6px 0 0 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child {
    width: 100px;
}

.checkbox-input-wrapper label {
    color: #08C;
}

.checkbox-input-wrapper label:hover,
.checkbox-input-wrapper label:focus {
    color: #005580;
    text-decoration: underline;
}


.dataTables_wrapper tbody tr td.manage_column {
    cursor: text;
    width: 120px;
}

.labs_select_menu {
    width: 100%;
}

#import_set,
#import_set_label {
    display: none;
}

#additional_filters {
    display: none;
}

#notify_nci_comment {
    width: 97%;
    height: 100px;
}

/* Pointer on Datatable row */

.dataTables_wrapper tbody tr {
    cursor: inherit;
}

#notes_container button {
    padding: 0 0 2px 0;
}

.email-successful-message,
.notes-success-message {
    float: right;
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 20px;
    padding: 0 8px;
    color: #FFFFFF;
    background-color: #008F00;
    border: solid 1px #008F00;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

/* jQuery Tour */

.popover-title {
    background-color: #0079A8;
    color: #FFF;
}

#tour_button_container {
    float: right;
}

/* stepper */
/*
.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2:hover {
    border: 2px solid #4285F4;
    color: #4285F4 !important;
    background-color: white !important; }
*/

.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 .fa {
    font-size: 1.7rem; }

.active_step {
    /*border-radius: 50%;*/
    border-color: #bb0e3d !important;
    background: #bb0e3d !important;
}


.active_step_icon {
    color: white !important;
}

.step {
    border-radius:50%;
    border-color:#bb0e3d !important;
    background-color: white !important;
}

.step_icon {
    color: #bb0e3d !important;
}

.steps-form-2 {
    display: table;
    width: 100%;
    position: relative; }

.steps-form-2 .steps-row-2 {
    display: table-row; }

.steps-form-2 .steps-row-2:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 4px;
    background-color: #bb0e3d;
    margin-left:70px;
}

.steps-form-2 .steps-row-2 .steps-step-2 {
    display: table-cell;
    text-align: center;
    position: relative;
}
.steps-form-2 .steps-row-2 .steps-step-2 p {
    margin-top: 0.5rem; }


.steps-form-2 .steps-row-2 .steps-step-2 button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }


.steps-form-2 .steps-row-2 .steps-step-2 .btn-circle-2 {
    width: 50px;
    height: 50px;
    border: 4px solid #bb0e3d;
    border-radius: 50%;
    padding: 7px 8px 8px 8px;
    margin-top: -8px;
}

.step_label {
    font-size:17px;
    margin-top:-20px !important;
}

#add_pcc {
    padding:5px;

}
