.color-red {
    color: red;
}

ul.menu li.expanded span.nolink {
    color: rgb(150, 150, 150);
}

ul.menu li.expanded span.nolink i.fa.fa-2x {
    font-size: 1.5em;
}

ul.menu li.expanded span.nolink span {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
}

input[type="file"] {
    line-height: 0;
    height: inherit;
}

.field-group{
    clear: both;
}

div.component-panel > div {
    min-height: 120px;
    padding: 12px;
    border: #cccccc solid 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

div.component-panel > div > p {
    margin: 0 0 0 32px;
}

div.component-panel.component-link-panel > div:hover {
    background-color: #f3f9fd;
    cursor: pointer;
}

div.component-panel.component-link-panel > div > a {
    font-weight: bold;
    text-decoration: none;
    color: #666666;
}

div.component-panel.component-link-panel > div > a > i.fa {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

div.component-panel.component-link-panel > div > a > span {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-left: 4px;
}

.menu_bar {
   padding:0;
}
.logout {
    padding-right:0;
    padding-bottom:0;
    margin-left:0px;

}