hr#aup-divider {
    margin-top: 25px;
    margin-bottom: 25px;
}

div#aup-download,
div#aup,
div#aup-accept {
    margin-bottom: 15px;
}

div#aup {
    height: 400px;
    overflow: scroll;
    padding: 12px;
    border: 1px solid black;
}

div#aup-accept {
    font-size: 14px;
    font-weight: bold;
}

button#btn-aup-accept {
    margin-right: 5px;
}
